.priorityTemplate {
    width: 100px;
}

.priorityTemplate, .statusTemplate, .lastEditedTemplate {
    width: 145px;
    /* width: fit-content; */
}

.statusTemplateColumn, .lastEditedTemplateColumn, .priorityTemplateColumn {
    width: 150px;
}

.table-header {
    display: flex;
    justify-content: space-between;
}

.dropdown-status {
    min-width: 190px;
    
}

.button-space {
    margin-right: 5px;
}

.todoForm {
    min-height: 70px;
}

.todoFormSubmit {
    width: 500px;
    max-width: 500px;
}