.priorityTemplate {
    width: 100px;
}

.statusTemplate {
    width: 200px;
    /* width: fit-content; */
}

.table-header {
    display: flex;
    justify-content: space-between;
}

.dropdown-status {
    min-width: 190px;
    
}

.button-space {
    margin-right: 5px;
}